<div class="d-flex flex-column mb-3 pending-modal w-50 ">
  <div class="p-2">
  <%= @current_user.nickname %> | <%= @current_player.user.nickname %> <br>
    <%= @player_one.user.nickname %> | <%=  @player_two.user.nickname  %>
 <br>
WINNER : <%= @player_one.winner %> | <%=  @player_two.winner  %>
<br>


<br>
charte select : <%= @card %> || carte : <%= @guess_player_two %>

  </div>
</div>
