<div class="home-logo" style="left:10px; z-index:1000">
    <%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag "logos/mini-logo.png", width:"100px" %>
    <% end %>
</div>
<div class="container mt-5">
  <h1 class="size70 mb-5">Partie terminee</h1>
  <div class="container text-center">
    <% if @player_one.winner %>
      <% if @current_player == @player_one %>
        <div class="finished-game">Bravo <b><%= @player_one.user.nickname %></b> tu as gagné !</div>
        <div class="finished-game-small"><span style="line-height:40px">Vous gagnez 100 points ! Votre score actuel est de </span><span style="font-size:40px"><b><%= @player_one.user.score %> points</b></span></div>
        <div class="finished-game-small mt-5">La carte que <%= @player_two.user.nickname %> a choisi de vous faire devinner était : <%= @player_two_guess_card.character.name %> </div>
        <%= cl_image_tag @player_two_guess_card.character.photo.key, width: 103, class:"imgfinished", crop: :fill %>
        <div class="confetis">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wys2rrr6.json"  background="transparent"  speed="0.6" style="width: 100vw; height: 100vh; position:relative" autoplay></lottie-player>
        </div>


      <% else %>


        <div class="finished-game">Désolé <b><%= @player_two.user.nickname %></b> tu as perdu !</div>
        <div class="finished-game-small"><span style="line-height:40px">Vous ne gagnez pas de point cette fois ci. Votre score actuel est de </span><span style="font-size:40px"><b><%= @player_one.user.score %> points</b></span></div>
        <div class="finished-game-small mt-5">La carte que <%= @player_one.user.nickname %> a choisi de vous faire devinner était : <%= @player_one_guess_card.character.name %> </div>
        <%= cl_image_tag @player_one_guess_card.character.photo.key, width: 103, class:"imgfinished", crop: :fill %>


      <% end %>
      <% else %>
      <% if @current_player == @player_two %>
        <div class="finished-game">Bravo <b><%= @player_two.user.nickname %></b> tu as gagné !</div>
        <div class="finished-game-small"><span style="line-height:40px">Vous gagnez 100 points ! Votre score actuel est de </span><span style="font-size:40px"><b><%= @player_two.user.score %> points</b></span></div>
        <div class="finished-game-small mt-5">La carte que <%= @player_one.user.nickname %> a choisi de vous faire devinner était : <%= @player_one_guess_card.character.name %> </div>
        <%= cl_image_tag @player_one_guess_card.character.photo.key, width: 103, class:"imgfinished", crop: :fill %>        <div class="confetis">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wys2rrr6.json"  background="transparent"  speed="0.6"  style="width: 100vw; height: 100vh; position:relative" autoplay></lottie-player>
        </div>
      <% else %>


        <div class="finished-game">Désolé <b><%= @player_one.user.nickname %></b> tu as perdu !</div>
        <div class="finished-game">Vous ne gagnez pas de point cette fois ci. Votre score actuel est de <span style="font-size:40px"><b><%= @player_one.user.score %> points</b></span></div>
        <div class="finished-game-small">La carte que <%= @player_two.user.nickname %> a choisi de vous faire devinner était : <%= @player_two_guess_card.character.name %> </div>
        <%= cl_image_tag @player_two_guess_card.character.photo.key, width: 103, class:"imgfinished", crop: :fill %>



        <% end %>
    <% end %>

       <div class="my-3"><%= link_to "Mon dashboard", dashboard_path, class: "btn btn-warning droit" %></div>
     </div>
  </div>
</div>
