<%# DEBUT LOGO %>
<%# <%= render "shared/logo" %>
<%# FIN LOGO %>

<%# <%= render 'buzzer_game' %>


 <%# DEBUT DU BG %>
<div class="d-flex flex-column active-modal m-0">

  <div class="game-status">
    <!-- Player Left -->
    <div class="d-flex gap-4">
      <% if @player_one.user.photo.key? %>
        <%= cl_image_tag  @player_one.user.photo.key, crop: :fill, class: "avatar-bordered dropdown-toggle imgbig", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>

      <div class="d-flex flex-column justify-content-start gap-2 w-100">


<% if @turn.player.user == @player_one.user || @turn.player.user == @player_one.user %>
<%# Si tour de player 1, alors on met la barre et bloque la 2 %>

<div class="round-time-bar animate-timer" data-game-logic-target="timeBar">
<% else %>

<%# Si tour de player 2, alors on bloque la barre1  et lance la 2 %>
<div class="round-time-bar animate-timerOFF" data-game-logic-target="timeBar">
<% end %>

        <%# <div class="round-time-bar animate-timer" data-game-logic-target="timeBar"> %>
          <div></div>
        </div>
        <span class="game-user-name" style="color:#CE001D"><%=  @player_one.user.nickname  %></span>
        <% if @current_player.user == @player_two.user %>
        <%# mini jeu adverse %>
        <div class="d-flex justify-content-end" style="margin-top:-47px">
          <%= render "games/mini_game_player2" %>
        </div>

        <% else %>

         <% @current_player.cards.each do |card| %>
          <%if card.guess == true %>

          <div style="text-align:right; margin-top:-47px">
          <%= cl_image_tag card.character.photo.key, width: 50, crop: :fill, style:"text-align:right" %>
          </div>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </div>

    <!-- Timer -->
    <div class="countdown-timer">

      <span data-game-logic-target="timer" id="timer">30</span>
    </div>

    <!-- Player Two -->
    <div class="d-flex w-100 gap-4">
      <div class="d-flex flex-column gap-2 w-100">

 <% if @turn.player.user == @player_two.user && @turn.player.user == @player_two.user %>
<%# Si tour de player 1, alors on met la barre et bloque la 2 %>

<div class="round-time-bar animate-timer-player2 " data-game-logic-target="timeBar">
<% else %>

<%# Si tour de player 2, alors on bloque la barre1  et lance la 2 %>
<div class="round-time-bar animate-time-player2OFF" data-game-logic-target="timeBar">
<% end %>
            <div></div>
        </div>

        <span class="game-user-name text-end"><%=  @player_two.user.nickname  %></span>

        <% if @current_player.user == @player_one.user %>
        <%# mini jeu adverse %>
        <div class="d-flex justify-content-start" style="margin-top:-47px">
          <%= render "games/mini_game_player2" %>
        </div>

        <% else %>

         <% @current_player.cards.each do |card| %>
          <%if card.guess == true %>
          <div style="margin-top:-47px">
          <%= cl_image_tag card.character.photo.key, width: 50, crop: :fill %>
          </div>
          <% end %>
        <% end %>
        <% end %>

      </div>
      <% if @player_two.user.photo.key? %>
        <%= cl_image_tag  @player_two.user.photo.key, crop: :fill, class: "avatar-bordered dropdown-toggle imgbig", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>
  </div>

  <div class="player-one-deck container text-center">
    <div class="card-tray-wrapper">
      <div class="<% if @current_user.id == @player_one.user_id  %>card-tray <% else %>card-tray-yellow <% end %>">
        <% @current_player.cards.each do |card| %>
           <% if card.active == true %>
          <div class= "card">
            <div class="card-back"></div>
            <div class="card-front">
              <%= cl_image_tag card.character.photo.key, width: 103, height: 190, crop: :fill, class:'' %>
            </div>
            <div class="<% if @current_user.id == @player_one.user_id  %>card-shadow<% else %>card-shadow-yellow <% end %>"></div>
          </div>
          <% else %>
          <div class="card card-tray-wrapper-disactive">
            <div class="card-inner">
              <div class="card-back"></div>
                <div class="card-front">
                  <%= cl_image_tag card.character.photo.key, width: 103, height: 190, crop: :fill, class:'' %>
                </div>
                <div class="card-shadow"></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
      <div class="d-flex height300">
        <div class="d-flex container-chat">
          <%#= render partial: "game", locals: { game: @game } %>

          <div class="d-flex justify-content-end">
            <div class="gamequestion">

              <div class="questions">
                <% @game.characteristic_questions.each do |char_question| %>
                  <%= render "characteristic_questions/characteristic_question", char_question: char_question %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
<%# Les characteristics %>
<div class="w-100">
  <div class="d-flex charac-questions">
   <%= render 'characteristics' %>

  </div>

  <% if @turn.player.user == current_user %>

    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center">
       </div>
    </div>

  <% end %>
</div>
