<div class="container"
  data-controller="game-subscription buzzer"
  data-buzzer-target="wrapper"
  data-game-subscription-game-id-value="<%= @game.id %>">

  <div id="game_<%= @game.id %>" data-chatroom-subscription-target="board" data-controller='game-logic'>
    <% if @game.pending? %>
      <%= render partial: "pending_game", locals: { game: @game } %>
    <% elsif @game.active? %>
      <%= render partial: "active_game", locals: { game: @game } %>
    <% elsif @game.started? %>
      <%= render partial: "started_game", locals: { game: @game } %>
    <% elsif @game.buzzer?  && current_user == User.find(@game.turns.last.player.user_id)%>
      <%= render partial: "buzz", locals: { game: @game } %>
    <% elsif @game.buzzer?  && !(current_user == User.find(@game.turns.last.player.user_id))%>
      <%= render partial: "waiting_buzz", locals: { game: @game } %>
    <% elsif @game.finished? %>
      <%= render partial: "finished_game", locals: { game: @game, card: @card_selected } %>
    <% end %>
  </div>

</div>
