 <div
  id="question-<%= char_question.id %>"
  class="<%= current_user == char_question.player.user ? 'bg-grey' : 'bg-cream' %>"
>
  <% if current_user == char_question.player.user %>
    <span class="ask">Vous avez demandé si le personnage a</span>
  <% else %>
    <span class="ask"><%= char_question.player.user.nickname %> demande si le personnage a</span>
  <% end %>

  <span class="type-attribute"><strong><%= char_question.characteristic.name %> ?</strong></span><br>

    <% if current_user != char_question.player.user && char_question.answer == nil %>
      <% if char_question.answer == nil %>
        <div class="d-flex btn-yn">
          <%= link_to "OUI", characteristic_question_path(char_question, answer: true), data: {turbo_method: :patch}, class: "btn btn-success" %>
          <%= link_to "NON", characteristic_question_path(char_question, answer: false), data: {turbo_method: :patch}, class: "btn btn-danger" %>
        </div>
      <% end %>
    <% end %>
    <% if char_question.answer != nil %> La réponse est  <% if char_question.answer == true %> <strong>oui</strong> <% else %> <strong>non</strong> <% end %>
    <% else %>
      <% if current_user == char_question.player.user %> 
        <small class="opacity-50 mt-4">En attente de l'adversaire</small> 
      <% end %>
    <% end %>
</div>
